<nb-card class="window">
  <nb-card-header>
    {{title}}
    <button class="right-button" nbButton="nbButton" ghost (click)="close()">
      <nb-icon icon="close-outline"></nb-icon>
  </button>
  </nb-card-header>
  <nb-card-body>
    <nb-list *ngIf="photos.length > 0">
      <nb-list-item *ngFor="let photo of photos">
        {{ photo.name }}
        <button class="right-button" nbButton="nbButton" ghost (click)="deletePhoto(photo)" >
          <nb-icon icon="close-outline"></nb-icon>
      </button>
      </nb-list-item>
    </nb-list>
    <nb-list *ngIf="photos?.length <= 0">
      <nb-list-item >
        <strong>No images have been selected for upload!</strong>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

